

a { border-bottom: thin solid;
    color: rgb(0,0,192);
    font-weight: bolder;
    text-decoration: none;
}
a:visited { color: rgb(160,0,160); }
a:active { color: rgb(192,0,0); }
a:active, a:focus, a:hover { border-bottom-width: medium; }


td{
    background-color: #FFA500;
  }
.linkcolor{
    color: red;
}

 @font-face{
               font-family: DeliciousRoman;
               src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
               font-weight:400;
          }
p,h2{
        font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
    }
#number1{
    background-image: url("../albumPagev3/Dangerous-cover.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;  
}

li{
    font-style: italic;
  }
