 @font-face{
               font-family: "DeliciousRoman";
               src: url("http://www.font-face.com/fonts/delicious/Delicious-Roman.otf");
               font-weight:400;
           }
h2{
    font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ff4d4d;
}

.footnote{
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}
.requiredFields{
    font-weight: bold;
}

body{
    background-image: url(background.jpg);
}

#block1{
    float: left; width: 500px;
}

#block2{
    float: left; width: 500px;

#block3{
    float: left; width: 500px;
}







