 @font-face{
               font-family: "DeliciousRoman";
               src: url("http://www.font-face.com/fonts/delicious/Delicious-Roman.otf");
               font-weight:400;
           }

a:link{
              color: #ff0000;         
}
a:hover{
              color: #ff33cc;
              font-weight: bold;
}
a:visited{
              color: #336600;
}
a:active{
              color: #0033cc;
              text-decoration: none;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }


h2{
    font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ff4d4d;
}

.footnote{
    font-style: italic;
    font-family: sans-serif;
    text-align: center;
}
.requiredFields{
    font-weight: bold;
}

body{
    background-image: url(images/background.jpg);
}

#block1{
    float: left; width: 500px;
}

#block2{
    float: left; width: 500px;

#block3{
    float: left; width: 500px;
}

div.c-wrapper{
    width: 80%; /* for example */
    margin: auto;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}





