/* albumPagev4.html css */

a{
    color: #b30000;
    text-decoration: none;  
}

a:hover{
    color: #4dd2ff;
    text-decoration: underline;
    background-color:  #b3ffb3;
    
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    background-color: #FFA500;
    font-style: italic;
    
  }
.linkcolor{
    color: red;
}

 @font-face{
               font-family: DeliciousRoman;
               src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
               font-weight:400;
           }
p,h2{
        font-family: DeliciousRoman, Helvetica, Arial, sans-serif;
    }


li{
    font-style: italic;
  }
